src/jade/index.jade
!!! 5
html(lang = "ja")
  head
    block title
      title jQuery Step Function
    meta(charset = "UTF-8")
    link(rel="stylesheet",href="common/css/main.css")
  body

    section.mod-blk1#blk1
      h1 Study.1
      div.mod-animarea
        div#box1.mod-box
        div#box2.mod-box
      div.mod-margin
      button(type="button")#btn_anim1 start

    hr
    section.mod-blk2#blk2
      h1 Study.2
      div.mod-animarea
        div#box3.mod-box
      div.mod-margin
      button(type="button")#btn_anim2 start

    hr
    section.mod-blk3#blk3
      h1 Study.3
      div#sprites
      div.mod-margin
      button(type="button")#btn_anim3 start

    script(src = "common/js/libs/almond.min.js")
    script(src = "common/js/libs/vendor.js")
    script(src = "common/js/main.js")

dist/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>jQuery Step Function</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="common/css/main.css">
  </head>
  <body>
    <section id="blk1" class="mod-blk1">
      <h1>Study.1</h1>
      <div class="mod-animarea">
        <div id="box1" class="mod-box"></div>
        <div id="box2" class="mod-box"></div>
      </div>
      <div class="mod-margin"></div>
      <button type="button" id="btn_anim1">start</button>
    </section>
    <hr>
    <section id="blk2" class="mod-blk2">
      <h1>Study.2</h1>
      <div class="mod-animarea">
        <div id="box3" class="mod-box"></div>
      </div>
      <div class="mod-margin"></div>
      <button type="button" id="btn_anim2">start</button>
    </section>
    <hr>
    <section id="blk3" class="mod-blk3">
      <h1>Study.3</h1>
      <div id="sprites"></div>
      <div class="mod-margin"></div>
      <button type="button" id="btn_anim3">start</button>
    </section>
    <script src="common/js/libs/almond.min.js"></script>
    <script src="common/js/libs/vendor.js"></script>
    <script src="common/js/main.js"></script>
  </body>
</html>
